<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Voice to image </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.microphone.js"></script>
    <script src="/javascript/index.js"></script>
  </head>

  <body>
    <header>
      <h1> Voice to image </h1>
    </header>

    <main>
      <div id="waveform"></div>
      <button id="start-listing"> Say a music!</button>
      <p id="message" hidden aria-hidden="true">
        Your browser doesn't support Speech Recognition. Sorry.
      </p>
      <form action='/search' method='post'>
        <input name='term' type='text' id="term" required>
        <button type="submit"> Search! </button>
      </form>
      <% if (typeof(errors) !== "undefined") { %>
        <ul class="error">
          <% errors.forEach(error => { %>
          <li> <%= error %> </li>
          <% }) %>
        </ul>
      <% } %>

      <% if (typeof(histories) !== "undefined") { %>
        <ul class="histories">
          <% histories.forEach(history => { %>
            <li title="<%= Object.keys(history)[0] %>">
              <img class="history-img" src="/images/history.png" alt="">
              <%= Object.values(history)[0] %>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <% if (typeof(search_items) !== "undefined") { %>
        <table>
          <tr>
            <th> Band/artist </th>
            <th> Song </th>
            <th> Action </th>
          </tr>

          <% search_items.forEach(function(item){ %>
            <% item = item.result %>
            <tr>
              <td>
                <img class="cover" src="<%= item.primary_artist.image_url %>">
                <br> <br> <br>
                <a href="<%= item.primary_artist.url %>">
                  <%= item.primary_artist.name %>
                </a>
              </td>
              <td>
                <img class="cover" src="<%= item.song_art_image_thumbnail_url %>">
                <br> <br> <br>
                <a href="<%= item.url %>"> <%= item.title %> </a>
              </td>
              <td>
                <a href="/generate/<%= item.id %>"> to images! </a>
              </td>
            </tr>
          <% }) %>
        </table>
      <% } %>
    </main>

    <footer>
      <p>Built by <a target="blank" href="https://github.com/jonaselan">Jonas Elan</a></p>
    </footer>
  </body>
</html>